@import "tailwindcss";

@keyframes float-y {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@theme {
  --animate-float-y: float-y 2s ease-in-out infinite;
}
